@media screen and (min-width: 360px) and (max-width: 479px){
    main h1 {
        letter-spacing: 10px;
    }
    .contenedor {
        width: 100%;
        align-items: center;
    }
    .certificados {
        width: 90%;
    }
}